<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="post" action="/piglatinize">
      <p>Enter the text you want to translate into pig latin</p>
      <textarea type="text" name="text"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
